

  <div class="row">

    <% @book.each do |book| %>

      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <%= image_tag book.image.variant(resize_to_limit: [350, 250]) if book.image.attached? %>
        </a>
      </div>

    <% end %>

  </div>

<%= link_to "Add Book", new_book_path %>